In [5]:
# Shift + Enter
print("Hello World")

Hello World

In [4]:
print("hello")

hello

In [6]:
a = 10

In [7]:
print(a)

10

In [8]:
type(a)

int

In [9]:
a = "Hello"

In [10]:
type(a)

str

In [12]:
print(a)

Hello

In [17]:
n = 9

if n>10:
    print("Number is greater than 10")
else:
    print("Number is less than 10")
    print("Increase the value")

Number is less than 10
Increase the value

In [20]:
i =0
while i<10:
    print(i, end=", ")
    i+= 1

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [21]:
for i in range(10):
    print(i, end= " ")

0 1 2 3 4 5 6 7 8 9

In [22]:
def number(a,b):
    print("We are adding numbers")
    return a+b

In [24]:
number(2,3)

We are adding numbers

5

In [26]:
"Hello" * 6

'HelloHelloHelloHelloHelloHello'

In [31]:
def pattern(n):
    for i in range(n):
        print("x "*(i+1))

In [32]:
pattern(5)

x
x x
x x x
x x x x
x x x x x

## Data Structures

In [33]:
l = [1,2,6,9,3,7,8]

In [34]:
print(l)

[1, 2, 6, 9, 3, 7, 8]

In [35]:
for i in l:
    print(i*2)

2
4
12
18
6
14
16

In [37]:
l.append(90)

In [38]:
l

[1, 2, 6, 9, 3, 7, 8, 90]

In [40]:
l.insert(2,100)

In [41]:
l

[1, 2, 100, 6, 9, 3, 7, 8, 90]

In [42]:
l.sort()

In [43]:
l

[1, 2, 3, 6, 7, 8, 9, 90, 100]

In [50]:
l[2] = 89

In [51]:
l

[1, 2, 89, 6, 7, 8, 9, 90, 100]

In [53]:
l[-2]

90

In [54]:
# List slicing
# l[ start_index :  end_index +1]
l[3 :7 ]

[6, 7, 8, 9]

## Tuples

In [45]:
t1= (1,2,4,65,89)

In [48]:
t1[1] = 100

TypeError: 'tuple' object does not support item assignment